extends layout 

block content
    form(method="POST" action="/new")
        label(for="text")= "Message: "
        textarea(name='text', required='true')
        label(for='name')= "Username: "
        input(type='text', name='name', required='true')
        input(type="submit", value="submit")