extends layout 

block content
    h1 New Message
    form(method="POST" action="/new" id='newMessageForm')
        label(for="text")= "Message: "
        textarea(name='text' required='true')
        label(for='name')= "Username: "
        input(type='text' name='name' required='true')
        input(type="submit" value="submit")